<!-- supervisor dashboard form -->
<!DOCTYPE html>
<html>
  <!-- header tag starts -->

  <head>
   
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet"> 
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>
  <!-- header tag ends -->

  <body class="fixed-nav bg-dark" id="page-top">
    <!-- start of dashboard -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="#">{{config.supervisordash.CENTRALIZED_ACCESS_CONTROL}}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- sidenav starts here -->
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
          <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="{{config.supervisordash.DASHBOARD}}">
            <a class="nav-link">
              <i class="fa fa-fw fa-dashboard"></i>
              <span class="nav-link-text">
                {{config.supervisordash.DASHBOARD}}</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{config.supervisordash.NEW_REQUEST}}">
            <a class="nav-link" [routerLink]="['/category']">
              <i class="fa fa-fw fa-area-chart"></i>
              <span class="nav-link-text new_req">
                {{config.supervisordash.NEW_REQUEST}}</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{config.supervisordash.ACCESS_REQUESTS}}">
            <a class="nav-link" (click)="showAccess()">
              <i class="fa fa-fw fa-table"></i>
              <span class="nav-link-text access_req">
                {{config.supervisordash.ACCESS_REQUESTS}}</span>
            </a>
          </li>
        </ul>
        <!-- sidenav ends here -->
        <ul class="navbar-nav sidenav-toggler">
          <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
              <i class="fa fa-fw fa-angle-left"></i>
            </a>
          </li>
        </ul>
        <!-- navbar starts -->
        <ul class="navbar-nav ml-5">
          <!-- start of message box of navbar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-lg-2" href="#" id="messagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
              <i class="fa fa-fw fa-envelope"></i>
              <span class="d-lg-none">{{config.supervisordash.MESSAGES}}
                <span class="badge badge-pill badge-primary">12</span>
              </span>
              <span class="new-indicator text-primary d-none d-lg-block">
                <i class="fa fa-fw fa-circle"></i>
                <span class="number">12</span>
              </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="messagesDropdown">
              <h6 class="dropdown-header">{{config.supervisordash.NEW_MESSAGES}}:</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <strong>Tanupreet</strong>
                <span class="small float-right text-muted">11:21 AM</span>
                <div class="dropdown-message small">Hey Prakhar</div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <strong>Shivam</strong>
                <span class="small float-right text-muted">11:21 AM</span>
                <div class="dropdown-message small">Hi!!!</div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <strong>Shubhang</strong>
                <span class="small float-right text-muted">11:21 AM</span>
                <div class="dropdown-message small">Thank You Prakhar for your hardwork in this Project</div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item small" href="#">
                {{config.supervisordash.VIEW_ALL_MESSAGES}}
              </a>
            </div>
          </li>
          <!-- end of message box of navbar -->
          <!-- start of status box of navbar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-lg-2" href="#" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-fw fa-bell"></i>
              <span class="d-lg-none">Status Alerts
                <span class="badge badge-pill badge-warning">6 New</span>
              </span>
              <span class="new-indicator text-warning d-none d-lg-block">
                <i class="fa fa-fw fa-circle"></i>
                <span class="number">6</span>
              </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">New Alerts:</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <span class="text-success">
                  <strong>
                    <i class="fa fa-long-arrow-up"></i>
                    Status Update</strong>
                </span>
                <span class="small float-right text-muted">11:21 AM</span>
                <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <span class="text-danger">
                  <strong>
                    <i class="fa fa-long-arrow-down"></i>
                    Status Update</strong>
                </span>
                <span class="small float-right text-muted">11:21 AM</span>
                <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <span class="text-success">
                  <strong>
                    <i class="fa fa-long-arrow-up"></i>
                    Status Update</strong>
                </span>
                <span class="small float-right text-muted">11:21 AM</span>
                <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item small" href="#">
                {{config.supervisordash.VIEW_ALL_ALERTS}}
              </a>
            </div>
          </li>
          <!-- end of status box of navbar -->
          <!-- start of back button of navbar -->
          <li class="nav-item">
            <a class="nav-link">
              <i class="fa fa-fw fa-sign-out"></i>
              {{config.supervisordash.BACK_TO_INIITIAN_PORTAL}}</a>
          </li>
          <!-- end of back button of navbar -->
          <!-- navbar ends -->
        </ul>
      </div>
    </nav>
    <!-- dashboard ends -->
    <div class="content-wrapper">
      <div class="container-fluid">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">{{config.supervisordash.DASHBOARD}}</a>
          </li>
          <li class="breadcrumb-item active">{{config.supervisordash.MY_DASHBOARD}}</li>
        </ol>
        <div class="card mb-3">
          <div class="card-body acolor text-center">
            <a href="">{{config.supervisordash.YOUR_REQUEST_IS_APPROVED_PENDING}}</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-user"></i> {{config.supervisordash.YOUR_DETAILS}}
              </div>
              <!-- start of div tag of user details card -->
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 text-center my-auto">
                    <div class="h4 mb-0 text-primary">Chander Sehgal</div>
                    <div class="small text-muted">Supervisor Name</div>
                    <hr>
                    <div class="h4 mb-0 text-warning">Gr. Noida SEZ 1</div>
                    <div class="small text-muted">Location</div>
                    <hr>
                    <div class="h4 mb-0 text-success">SSB-CSDM-RP</div>
                    <div class="small text-muted">OU</div>
                  </div>
                </div>
              </div>
              <!-- end of div tag of user details card -->
            </div>
            <!-- start of div tag of tab bar -->
            <div class="container" *ngIf="show==true">
              <nav class="nav nav-tabs nav-success" id="myTab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-expanded="true">{{config.supervisordash.NEW_ACCESS_REQUESTS}}</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile">{{config.supervisordash.LOCATION_CHANGE_REQUESTS}}</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile">{{config.supervisordash.LOST_CARD_REQUESTS}}</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile">{{config.supervisordash.DAMAGE_REQUESTS}}</a>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>{{config.supervisordash.S_NO}}</th>
                        <th>{{config.supervisordash.EMPLOYEE_ID}}</th>
                        <th>{{config.supervisordash.EMPLOYEE_NAME}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let new of newaccess">
                        <th scope="row">{{newaccess.indexOf(new)+1}}</th>
                        <td><a class="empid" (click)="getID(new.employeeID)">{{new.employeeID}}</a></td>
                        <td>{{new.employeeName}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>{{config.supervisordash.S_NO}}</th>
                        <th>{{config.supervisordash.EMPLOYEE_ID}}</th>
                        <th>{{config.supervisordash.EMPLOYEE_NAME}}</th>
                      </tr>
                    </thead>
                     <tbody>
                      <tr *ngFor="let loc of locationrequest">
                        <th scope="row">{{locationrequest.indexOf(loc)+1}}</th>
                        <td><a class="empid" (click)="getEmpIdLocationRequest(loc.employeeID)">{{loc.employeeID}}</a></td>
                        <td>{{loc.employeeName}}</td>
                      </tr>
                   
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>{{config.supervisordash.S_NO}}</th>
                        <th>{{config.supervisordash.EMPLOYEE_ID}}</th>
                        <th>{{config.supervisordash.EMPLOYEE_NAME}}</th>
                      </tr>
                    </thead>
                    <tbody>
                     <tr *ngFor="let lost of lostrequest">
                        <th scope="row">{{lostrequest.indexOf(lost)+1}}</th>
                        <td><a class="empid" (click)="getEmpIdLostRequest(lost.employeeID)">{{lost.employeeID}}</a></td>
                        <td>{{lost.employeeName}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>{{config.supervisordash.S_NO}}</th>
                        <th>{{config.supervisordash.EMPLOYEE_ID}}</th>
                        <th>{{config.supervisordash.EMPLOYEE_NAME}}</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let dam of damagerequest">
                        <th scope="row">{{damagerequest.indexOf(dam)+1}}</th>
                        <td><a class="empid" (click)="getEmpIdDamageRequest(dam.empID)">{{dam.employeeID}}</a></td>
                        <td>{{dam.employeeName}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- end of div tag of tab bar -->
          </div>
          <div class="col-lg-4">
            <div class="card mb-3">
              <!-- start of div tag of user -->
              <div class="card-header">
                <i class="fa fa-user-o"></i> Prakhar Pandey
              </div>
              <!-- end of div tag of user -->
              <!-- start of div tag of profile picture -->
              <div class="card-body img-center">
                <img class="img-size" src="https://www.youngliving.com/vo/content/app/design/images/default-profile-image.jpg" alt="https://www.youngliving.com/vo/content/app/design/images/default-profile-image.jpg">
              </div>
              <!-- end of div tag of profile picture -->
              <div class="card-footer small text-muted">
                Updated yesterday at 11:59 PM
              </div>
            </div>
            <!-- start of div tag of news feed -->
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-bell-o"></i> Feed Example
              </div>
              <div class="list-group list-group-flush small">
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">
                      <strong>Aam Aadmi</strong> posted a new article to
                      <strong>Google Website</strong>.
                      <div class="text-muted smaller">Today at 5:43 PM - 5m ago</div>
                    </div>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">
                      <strong>Mango Man</strong> sent you a new message!
                      <div class="text-muted smaller">Today at 4:37 PM - 1hr ago</div>
                    </div>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">
                      <strong>Tanupreet Again</strong> added a new photo to the album
                      <strong>Beach</strong>.
                      <div class="text-muted smaller">Today at 4:31 PM - 1hr ago</div>
                    </div>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">
                      <i class="fa fa-code-fork"></i>
                      <strong>Yet Again</strong> forked the
                      <strong>startbootstrap-sb-admin</strong> repository on
                      <strong>GitHub</strong>.
                      <div class="text-muted smaller">Today at 3:54 PM - 2hrs ago</div>
                    </div>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  View all activity...
                </a>
              </div>
              <div class="card-footer small text-muted">
                Updated yesterday at 11:59 PM
              </div>
            </div>
            <!-- end of div tag of news feed -->
          </div>
        </div>
      </div>
    </div>
    <!-- start of footer tag -->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>{{config.supervisordash.COPYRIGHT}}</small>
        </div>
      </div>
    </footer>
    <!-- end of footer tag -->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </body>

  </html>
